.section-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(248, 94, 33, 0.863);
    height: 50%;
    z-index: 5;
    position: relative;
    display: block;
}
/*
.section-header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    opacity: 0;
    color: #fff;
    background: rgba(244, 98, 58, 0.9);
    transition: opacity 0.25s ease;
    text-align: center;
}
*/

.red{
    height: 70px;
}

.lado{
    z-index: 50;
    flex-wrap: wrap;
}

.p{
    z-index: 100;
    font-size: 90px;
}

.lado:hover{
    opacity: 20%;
    
}

.img{
    width: 100%;
    height: 100%;
}
.logo{
    width: 200px
}

.lado div p{
    margin: 10px;
}


h1{
	font-family: 'Aboreto', cursive;
    text-align:center;
}
/*
@media screen and (max-width: 1600px){
    .img{
        width: 50%;
        height: auto
    }
}
@media screen and (max-width: 999px){
    .img{
        width: 50%;
        height: auto
    }
}
*/
@media screen and (max-width: 970px){
    .lado{
        flex-direction: column;
        display: block;
    }
}

.footer{
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
    background-color: rgb(236, 117, 20);
    color: white;
    height: 50%;
    z-index: 5;
}


.redes-s{
    display: flex;
    justify-content:space-around;
    flex-direction: row;
}