.section{
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Kalam', cursive;
}

.sub-categoria{
    padding: 4%;
    flex-direction: row;
}

.sub-categoria img{
    width: 50%;
    height: auto;
}

@media screen and (max-width: 400px){
    .section {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 300px){
    .section {
        display: flex;
        flex-direction: column;
    }
}